* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    background-color: black;
    margin: 0;
    padding: 20px 0;
    text-align: center;
}


/* Estilos generales para pantallas grandes */

.logo {
    font-size: 36px;
    font-weight: bold;
    color: rgb(207, 24, 24);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 40%;
}

.subtitulo {
    font-size: 18px;
    color: rgb(240, 48, 48);
    display: block;
    text-align: center;
}

.logo-imagen {
    margin: 0 140px;
    border-radius: 40px;
}

.logo-imagen2 {
    margin: 0 140px;
    border-radius: 30px;
}

.contenedor1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
    margin-bottom: 20px;
}

nav {
    display: flex;
    gap: 20px;
    margin-top: -155px;
}

nav a {
    margin: 0 10px;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    padding: 5px 34px;
    border: none;
    border-radius: 5px;
    background-color: rgb(233, 94, 51);
    color: rgba(223, 214, 245, 0.959);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: rgb(100, 65, 67);
}


/* Estilos para tablets y laptops */

@media (max-width: 991px) {
    .logo {
        font-size: 24px;
        margin-left: 10px;
        text-align: center;
        background-color: white;
        /* Fondo blanco para que el logo destaque */
    }
    .subtitulo {
        font-size: 14px;
        text-align: center;
    }
    .logo-imagen,
    .logo-imagen2 {
        margin: 0 10px;
        border-radius: 20px;
    }
    .contenedor1 {
        padding: 0 10px;
        text-align: center;
    }
    nav {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
    }
    nav a {
        font-size: 18px;
        padding: 5px 15px;
        margin: 5px;
    }
}


/* Estilos para dispositivos móviles */

@media (max-width: 576px) {
    .logo {
        font-size: 20px;
        margin-left: 10px;
        text-align: center;
        background-color: white;
        /* Fondo blanco para que el logo destaque */
    }
    .subtitulo {
        font-size: 12px;
        text-align: center;
    }
    .logo-imagen,
    .logo-imagen2 {
        margin: 0 10px;
        border-radius: 20px;
    }
    .contenedor1 {
        padding: 0 10px;
        text-align: center;
    }
    nav {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
    }
    nav a {
        font-size: 16px;
        padding: 5px 15px;
        margin: 5px;
    }
}

@media (min-width: 1024px) {
    /* Estilos para el logo en el centro */
    .logo {
        font-size: 30px;
        text-align: center;
        margin: 20px auto;
        /* Centra el logo horizontalmente y agrega margen superior e inferior */
    }
    /* Estilos para el subtítulo */
    .subtitulo {
        font-size: 16px;
        text-align: center;
    }
    /* Estilos para las imágenes en las esquinas superiores */
    .logo-imagen {
        border-radius: 30px;
        margin-top: 20px;
        margin-left: -20px;
        position: absolute;
        top: 0;
        left: 100px;
    }
    /* Estilos para la imagen en la esquina superior derecha */
    .logo-imagen2 {
        border-radius: 30px;
        margin-top: 20px;
        margin-right: 20px;
        position: absolute;
        top: 0;
        right: 100px;
    }
    .contenedor1 {
        padding: 0 20px;
        text-align: center;
    }
    /* Estilos para la navegación */
    nav {
        margin-top: 20px;
        display: flex;
        align-items: center;
    }
    nav a {
        font-size: 20px;
        padding: 10px 20px;
        margin: 10px;
    }
}

.slider {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    margin: 0 auto;
    background-image: url("imagenes/fondo.avif");
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: center;
    margin-bottom: -47px;
    margin-top: 0;
}

.slider ul {
    width: 1000%;
    height: 80%;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    animation: cambio 25s infinite linear;
}

.slider li {
    width: 10%;
    height: 85vh;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-top: 0;
}

.slider li .image-text {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 18px;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }
    10% {
        margin-left: 0;
    }
    20% {
        margin-left: -100%;
    }
    30% {
        margin-left: -100%;
    }
    40% {
        margin-left: -200%;
    }
    50% {
        margin-left: -200%;
    }
    60% {
        margin-left: -300%;
    }
    70% {
        margin-left: -300%;
    }
    80% {
        margin-left: -400%;
    }
    90% {
        margin-left: -400%;
    }
    100% {
        margin-left: -500%;
    }
}

#somos-cetpro {
    position: relative;
    background: linear-gradient(#F4F4F4, #D9D9D9);
    background-size: cover;
    background-position: center;
    text-align: left;
    padding: 35px 50px;
    font-size: 36px;
    color: #333333;
    font-family: 'Arial', sans-serif;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.texto {
    flex-basis: 50%;
    padding-right: 20px;
}

.imagenes {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Estilos para las tarjetas de texto */

.tarjeta-texto {
    width: 100%;
    border: 2px solid #666666;
    /* Borde gris */
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.05);
    /* Fondo blanco con un toque de transparencia */
    padding: 20px;
    /* Espaciado interno para mayor legibilidad */
}


/* Estilos para las tarjetas de imágenes */

.tarjeta-imagen {
    width: 90%;
    /* Ancho del 60% para las tarjetas de imágenes */
    border: 2px solid #666666;
    /* Borde gris */
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.05);
    /* Fondo blanco con un toque de transparencia */
    padding: 20px;
    /* Espaciado interno para mayor legibilidad */
}

.color-acento {
    color: #D93A3A;
    /* Rojo */
    padding: 10px 20px;
    /* Espaciado interno para destacar el texto */
    border-radius: 4px;
    /* Bordes redondeados para resaltar */
}

.contenido,
.parrafos {
    color: #e0d2d2;
    /* Texto gris oscuro */
    font-size: 30px;
    line-height: 1.6;
    text-align: left;
    margin: 0;
}

.tarjeta-titulo h2 {
    font-size: 90px;
    margin-top: 0;
    color: #fa4949;
    /* Rojo */
    background: linear-gradient(#F4F4F4, #D9D9D9);
    padding: 20px 30px;
    /* Espaciado interno para destacar el título */
    border-radius: 4px;
    /* Bordes redondeados para resaltar */
}

.contenedor ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 20px;
    text-align: left;
    margin-top: 0;
}

.contenedor li {
    color: #333333;
    /* Texto gris oscuro */
    font-size: 30px;
    line-height: 1.6;
    margin: 10px 0;
    text-align: le;
}

.tarjeta img {
    width: 100%;
    /* Ancho del 100% para que la imagen ocupe todo el espacio */
    height: auto;
    border: 4px solid #666666;
    /* Borde gris */
    margin: 0;
    display: block;
    margin: 0 auto;
    /* Centra la imagen horizontalmente en su marco */
}


/* Estilos para dispositivos móviles (celulares) */


/* Estilos para dispositivos móviles (celulares) */

@media (max-width: 767px) {
    #somos-cetpro {
        padding: 10% 5%;
        /* Ajustamos el espaciado en pantallas pequeñas */
    }
    .tarjeta-titulo h2 {
        font-size: 36px;
        /* Tamaño de fuente más grande en pantallas pequeñas */
        padding: 20px 30px;
        /* Espaciado interno para destacar el título */
    }
    .color-acento {
        font-size: 30px;
        /* Tamaño de fuente más pequeño para el color de acento */
        padding: 15px 30px;
        /* Espaciado interno para destacar el texto de acento */
        margin-top: 5%;
    }
    .parrafos li {
        font-size: 18px;
        /* Tamaño de fuente más pequeño para los elementos de la lista */
        margin: 10px 0;
        /* Espaciado entre elementos de la lista */
    }
    .tarjeta img {
        width: 100%;
        /* Ancho del 100% para que la imagen ocupe todo el espacio */
    }
}


/* Estilos para tablets (pantallas medianas) */

@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 60%;
        /* Ancho del contenedor reducido para tablets */
    }
    /* Agrega aquí cualquier otro estilo necesario para pantallas medianas */
}


/* Estilos para pantallas grandes (computadoras de escritorio) */

@media (min-width: 1024px) {
    .container {
        width: 100%;
        /* Ancho completo del contenedor para escritorios */
    }
}


/* Estilos para la sección "Nuestros Programas" */

#nuestras-carreras {
    background-image: url('imagenes/gorro.png');
    /* Reemplaza 'ruta-de-tu-imagen.jpg' con la ruta de tu imagen de fondo */
    background-size: 300px 200px;
    /* Ancho y alto en píxeles */
    /* Ajusta el tamaño de la imagen para que se adapte al contenedor */
    background-position: center;
    /* Centra la imagen en el elemento */
    color: #333;
    padding: 100px 10px;
    text-align: center;
}

.nu {
    font-size: 3.5em;
    margin-bottom: 30px;
    color: #fffc57;
    font-weight: bold;
    /* Hace que el texto sea más audaz */
    text-shadow: 2px 2px 4px rgba(72, 0, 241, 0.2);
    /* Agrega una sombra sutil al texto */
}

.programas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.carta {
    background-color: #add8e6;
    /* Azul claro */
    padding: 20px;
    border-radius: 27px;
    flex: 1;
    margin: 0 20px;
    text-align: center;
    padding-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.carta h3 {
    font-size: 4em;
    margin-bottom: 10px;
    color: #ff7f50;
    /* Naranja suave */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.carrer-list {
    list-style: none;
    padding: 0;
}

.carrer-list li {
    font-size: 1.9em;
    margin-bottom: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    padding: 5px 10px;
    background-color: #ffd700;
    /* Amarillo suave */
    color: #2b1818;
    /* Texto en un tono más oscuro */
    border: 0.5px solid #ffa07a;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: left;
}

.nobo {
    outline: 4px solid rgb(221, 226, 150);
}

.carrer-list li:hover {
    background-color: #00ced1;
    /* Azul claro más intenso */
    color: rgb(255, 255, 255);
    border-color: #8b4513;
    /* Marrón suave */
}

.parra {
    font-size: 2.3em;
    margin-bottom: 15px;
    text-align: left;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Estilos para el enlace en la lista */

.carrer-list li a {
    display: block;
    /* Hace que el enlace ocupe todo el ancho disponible en el <li> */
    width: 100%;
    /* Ocupa todo el ancho disponible */
    height: 100%;
    /* Ocupa todo el alto disponible */
    text-align: center;
    /* Centra el texto horizontalmente */
    line-height: 2em;
    /* Ajusta el espaciado vertical del texto */
    color: rgb(0, 0, 0);
    /* Color de texto */
    border: none;
    /* Elimina el borde */
    border-radius: 15px;
    /* Borde redondeado */
    font-size: 1.2em;
    /* Tamaño de fuente */
    text-decoration: none;
    /* Elimina el subrayado */
    padding: 10px 10px;
    /* Espaciado interno */
    cursor: pointer;
    /* Cambia el cursor al pasar el ratón */
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    text-align: left;
}

.carta a:hover {
    background-color: #96a7fc;
    /* Tono complementario */
    color: rgb(226, 100, 100);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra al hacer hover */
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 25px;
        /* Tamaño de fuente más pequeño para pantallas pequeñas */
    }
}

@media (max-width: 576px) {
    .parra {
        font-size: 30px;
        /* Tamaño de fuente reducido para pantallas pequeñas */
    }
}


/* Estilos para pantallas con un ancho máximo de 280px y una altura máxima de 653px (Samsung Galaxy Fold plegado) */

@media screen and (max-width: 280px) and (max-height: 653px) {
    /* Ajusta el tamaño de fuente en dispositivos plegables */
    .nu {
        font-size: 1.2em;
        /* Reduzco el tamaño de fuente */
    }
    /* Espaciado entre elementos */
    .programas {
        gap: 5px;
        /* Reduzco el espacio entre los elementos */
    }
    .carta {
        padding: 5px;
        /* Reduzco el padding */
        margin: 0 2px;
        /* Reduzco el margen lateral */
    }
    .carta h3 {
        font-size: 1.5em;
        /* Reduzco el tamaño de fuente */
        margin-bottom: 5px;
        /* Reduzco el margen inferior */
    }
    .carrer-list li {
        font-size: 0.8em;
        /* Reduzco el tamaño de fuente */
        margin-bottom: 5px;
        /* Reduzco el margen inferior */
    }
    .parra {
        font-size: 1em;
        /* Reduzco el tamaño de fuente */
        margin-bottom: 5px;
        /* Reduzco el margen inferior */
    }
    /* Estilos para el enlace en la lista */
    .carrer-list li a {
        font-size: 0.8em;
        /* Reduzco el tamaño de fuente */
        border-radius: 5px;
        /* Reduzco el borde redondeado */
        padding: 3px 5px;
        /* Reduzco el espaciado interno */
    }
}

#caracteristicas {
    background-image: url("imagenes/descarga.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 42px 0;
    text-align: center;
}

#caracteristicas h2 {
    font-size: 80px;
    margin-bottom: 20px;
}

.caracteristicas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.caracteristicas-list {
    list-style: none;
    color: #1e1e1e;
    text-align: left;
    flex: 1;
    margin-left: 40px;
    /* Ajusta el margen izquierdo */
}

.caracteristicas-list li {
    font-size: 35px;
    margin: 10px 0;
}

.galeria-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.galeria-container img {
    max-width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 40px;
}


/* Ajustes en dispositivos móviles */

@media screen and (max-width: 768px) {
    #caracteristicas {
        padding: 20px 0;
        /* Ajusta el padding */
        text-align: center;
        /* Centra el texto */
    }
    #caracteristicas h2 {
        font-size: 40px;
        /* Reduce el tamaño de fuente */
        margin: 20px 0;
        /* Ajusta el margen */
    }
    .caracteristicas-container {
        flex-direction: column;
        /* Coloca los elementos en columna */
        align-items: center;
        /* Alinea el contenido al centro */
        margin-top: 20px;
    }
    .caracteristicas-list {
        margin-left: 0;
        /* Elimina el margen izquierdo */
        text-align: center;
        /* Centra el texto */
    }
    .caracteristicas-list li {
        font-size: 25px;
        /* Reduce el tamaño de fuente */
        margin: 8px 0;
        /* Ajusta el margen */
    }
    .galeria-container {
        margin-left: 0;
        /* Elimina el margen izquierdo */
    }
    .galeria-container img {
        max-height: 300px;
        /* Reduce la altura máxima de la imagen */
        border-radius: 30px;
        /* Ajusta el radio de la esquina */
    }
}


/* Ajustes en pantallas más grandes */

@media (min-width: 991px) and (max-width: 1000px) {
    #caracteristicas {
        padding: 20px 0;
        /* Ajusta el padding */
        text-align: center;
        /* Centra el texto */
    }
    #caracteristicas h2 {
        font-size: 45px;
        /* Reduce el tamaño de fuente */
        margin: 20px 0;
        /* Ajusta el margen */
    }
    .caracteristicas-container {
        flex-direction: column;
        /* Coloca los elementos en columna */
        align-items: center;
        /* Alinea el contenido al centro */
        margin-top: 20px;
    }
    .caracteristicas-list {
        margin-left: 0;
        /* Elimina el margen izquierdo */
        text-align: center;
        /* Centra el texto */
    }
    .caracteristicas-list li {
        font-size: 30px;
        /* Reduce el tamaño de fuente */
        margin: 8px 0;
        /* Ajusta el margen */
    }
    .galeria-container {
        margin-left: 0;
        /* Elimina el margen izquierdo */
    }
    .galeria-container img {
        max-height: 300px;
        /* Reduce la altura máxima de la imagen */
        border-radius: 30px;
        /* Ajusta el radio de la esquina */
    }
}

.footer {
    background-color: #0a0a0a;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan en pantallas pequeñas */
}


/* Estilos para el logo y la dirección */

.footer__logo {
    font-size: 40px;
    margin: 0;
    font-weight: bold;
    color: #a89c88;
}

.footer__addr {
    font-size: 40px;
    margin-right: 20px;
}

.footer__title {
    font-size: 35px;
    margin: 15px 0;
    font-weight: bold;
    color: #ff9900;
    text-align: center;
}

.whatsapp-icon {
    font-size: 35px;
    /* Tamaño del ícono */
    color: #25D366;
    /* Color del ícono de WhatsApp */
}

.facebook-icon {
    font-size: 35px;
    /* Tamaño del ícono */
    color: #3b5998;
    /* Color del ícono de Facebook */
}

.footer__social a:hover {
    background-color: #b15a45;
    cursor: pointer;
}

.button-link {
    color: #ec954e;
    text-decoration: none;
    font-size: 50px;
    border: 2px solid #ec954e;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.button-link:hover {
    background-color: #ec954e;
    color: #fff;
    cursor: pointer;
}

.footer {
    background-color: #0a0a0a;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan en pantallas pequeñas */
}


/* Estilos para el logo y la dirección */

.footer__logo {
    font-size: 40px;
    margin: 0;
    font-weight: bold;
    color: #a89c88;
}

.footer__addr {
    font-size: 40px;
    margin-right: 20px;
}

.footer__title {
    font-size: 35px;
    margin: 15px 0;
    font-weight: bold;
    color: #ff9900;
    text-align: center;
}

.footer__addr a {
    color: #ec954e;
    text-decoration: none;
    font-size: 30px;
}


/* Estilos para redes sociales */

.footer__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}


/* Establece el espacio horizontal entre los enlaces a cero para que estén lado a lado */

.footer__social a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(14, 14, 15);
    color: rgb(229, 231, 225);
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 5px;
}

.footer__social a:hover {
    background-color: #b15a45;
    cursor: pointer;
}

.button-link {
    color: #ec954e;
    text-decoration: none;
    font-size: 50px;
    border: 2px solid #ec954e;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.button-link:hover {
    background-color: #ec954e;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 720px) {
    .footer__logo,
    .footer__addr,
    .footer__title,
    .footer__addr a {
        font-size: 18px;
    }
    .footer-container {
        flex-direction: column;
        justify-content: center;
    }
    .footer__social a {
        padding: 10px 15px;
        flex-direction: column;
    }
    .footer__logo h1 {
        font-size: 25px;
    }
    .footer__title {
        font-size: 19px;
    }
    .footer__addr {
        font-size: 14px;
        margin-right: 0;
    }
}


/* Consulta de medios para 320px */

@media screen and (max-width: 320px) {
    .footer__logo h1,
    .footer__addr,
    .footer__title,
    .button-link,
    .footer__social a {
        font-size: 14px;
        text-align: center;
        margin-top: 5px;
    }
    .footer__social a {
        background-color: #333;
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
    }
}