* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(107, 211, 4);
}


/* Estilos para el header */

header {
    background: linear-gradient(rgba(185, 179, 179, 0.7), rgba(30, 30, 30, 0.7)), #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Estilos para la contenedor de navegación */

.nav-container {
    max-width: 100%;
}


/* Estilos para la navegación */

nav {
    background: linear-gradient(rgba(50, 50, 50, 0.7), rgba(30, 30, 30, 0.7)), #333;
    text-align: center;
    padding: 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

nav li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border: 2px solid #666;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav li a:hover {
    background-color: #b9ccc5;
}


/* Estilos adicionales para dispositivos con un ancho máximo de 280px y una altura máxima de 653px (Samsung Galaxy Fold plegado) */

@media screen and (max-width: 280px) and (max-height: 653px) {
    /* Estilos adicionales para el header */
}


/* Estilos generales para la tabla */

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
}


/* Estilos para las celdas encabezado (th) */


/* Estilos para las celdas encabezado (th) */

th {
    background-color: #5078ad;
    /* Azul oscuro/grisáceo */
    color: #ffffff;
    /* Texto blanco */
    border: 1px solid #ddb983;
    /* Borde más oscuro */
    padding: 10px;
    text-align: left;
}


/* Estilos para las celdas de datos (td) */

td {
    border: 1px solid #bdc3c7;
    /* Gris claro */
    padding: 10px;
    text-align: left;
}


/* Estilos para las filas impares */

tr:nth-child(odd) {
    background-color: #ecf0f1;
    /* Gris muy claro */
}


/* Estilos para las filas pares */

tr:nth-child(even) {
    background-color: #d5dbdb;
    /* Gris claro */
}


/* Estilos para la fila resaltada (resultado) */

.result-row {
    background-color: #f2f2f2;
    /* Gris claro */
    font-weight: bold;
    text-align: center;
}

.result-row td {
    border: none;
    padding: 10px;
}


/* Estilos para el hover en las celdas */

td {
    transition: background-color 0.3s ease;
    /* Transición de color de fondo */
}

td:hover {
    background-color: #9bbfe7;
    /* Verde claro para el hover */
}


/* Agregar sombra al hacer hover */


/* Ajuste de fuente para dispositivos plegables */

@media screen and (max-width: 600px) {
    table,
    th,
    td {
        font-size: 14px;
        padding: 8px;
    }
}

@media screen and (max-width: 280px) and (max-height: 653px),
screen and (max-width: 414px) and (max-height: 716px) {
    table,
    th,
    td {
        font-size: 14px;
        text-align: center;
        padding: 5px;
    }
    td {
        transition: background-color 0.3s ease;
    }
    td:hover {
        background-color: #25D366;
    }
}


/* Estilos específicos para dispositivos más pequeños */

@media screen and (max-width: 414px) and (max-height: 716px) {
    table,
    th,
    td {
        font-size: 10px !important;
        padding: 2px !important;
    }
}

@media screen and (max-width: 280px) and (max-height: 653px) {
    table,
    th,
    td {
        font-size: 12px;
        text-align: center;
        padding: 5px;
    }
    td:hover {
        background-color: #25D366;
    }
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

header {
    font-size: 50px;
}

header:hover {
    transform: scale(1.05)
}


/* Estilos para la lista de programas */

.programas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


/* Estilos para las tarjetas */

.carta {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    flex: 1;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

.carta:hover {
    transform: translateY(-5px);
}


/* Estilos para el título de las tarjetas */

.carta h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}


/* Estilos para la lista de características */

ul.carrer-list {
    list-style-type: none;
    padding-left: 20px;
    text-align: left;
}


/* Estilos para los elementos de la lista de características */

ul.carrer-list li {
    font-size: 16px;
    margin-bottom: 10px;
    color: #555;
}


/* Estilos para la lista de imágenes */

ul.image-list {
    list-style: none;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}


/* Estilos para los elementos de la lista de imágenes */

ul.image-list li {
    text-align: center;
    flex: 1;
    max-width: calc(50% - 10px);
    /* 50% de ancho con espacio entre las imágenes */
}


/* Estilos para las imágenes dentro de la lista */

ul.image-list li img {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    padding: 0;
}


/* Estilos para el hover de las imágenes */

ul.image-list li img:hover {
    transform: scale(1.05);
    /* Aumenta el tamaño al pasar el cursor */
}


/* Estilos para pantallas medianas */

@media (max-width: 768px) {
    header {
        font-size: 28px;
    }
    table {
        font-size: 12px;
    }
    ul.carrer-list li {
        font-size: 14px;
    }
}


/* Estilos para pantallas pequeñas */

@media (max-width: 576px) {
    header {
        font-size: 24px;
    }
    nav li {
        font-size: 16px;
        margin-right: 10px;
    }
    table {
        font-size: 10px;
    }
    ul.carrer-list li {
        font-size: 12px;
    }
}


/* Estilos generales para el footer */

.footer {
    background-color: #0a0a0a;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan en pantallas pequeñas */
}


/* Estilos para el logo y la dirección */

.footer__logo {
    font-size: 40px;
    margin: 0;
    font-weight: bold;
    color: #a89c88;
}

.footer__addr {
    font-size: 40px;
    margin-right: 20px;
}

.footer__title {
    font-size: 35px;
    margin: 15px 0;
    font-weight: bold;
    color: #ff9900;
    text-align: center;
}

.whatsapp-icon {
    font-size: 35px;
    /* Tamaño del ícono */
    color: #25D366;
    /* Color del ícono de WhatsApp */
}

.facebook-icon {
    font-size: 35px;
    /* Tamaño del ícono */
    color: #3b5998;
    /* Color del ícono de Facebook */
}

.footer__social a:hover {
    background-color: #b15a45;
    cursor: pointer;
}

.button-link {
    color: #ec954e;
    text-decoration: none;
    font-size: 50px;
    border: 2px solid #ec954e;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.button-link:hover {
    background-color: #ec954e;
    color: #fff;
    cursor: pointer;
}

.footer {
    background-color: #0a0a0a;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan en pantallas pequeñas */
}


/* Estilos para el logo y la dirección */

.footer__logo {
    font-size: 40px;
    margin: 0;
    font-weight: bold;
    color: #a89c88;
}

.footer__addr {
    font-size: 40px;
    margin-right: 20px;
}

.footer__title {
    font-size: 35px;
    margin: 15px 0;
    font-weight: bold;
    color: #ff9900;
    text-align: center;
}

.footer__addr a {
    color: #ec954e;
    text-decoration: none;
    font-size: 30px;
}


/* Estilos para redes sociales */

.footer__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}


/* Establece el espacio horizontal entre los enlaces a cero para que estén lado a lado */

.footer__social a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(14, 14, 15);
    color: rgb(229, 231, 225);
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 5px;
}

.footer__social a:hover {
    background-color: #b15a45;
    cursor: pointer;
}

.button-link {
    color: #ec954e;
    text-decoration: none;
    font-size: 50px;
    border: 2px solid #ec954e;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.button-link:hover {
    background-color: #ec954e;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 720px) {
    .footer__logo,
    .footer__addr,
    .footer__title,
    .footer__addr a {
        font-size: 18px;
    }
    .footer-container {
        flex-direction: column;
        justify-content: center;
    }
    .footer__social a {
        padding: 10px 15px;
        flex-direction: column;
    }
    .footer__logo h1 {
        font-size: 25px;
    }
    .footer__title {
        font-size: 19px;
    }
    .footer__addr {
        font-size: 14px;
        margin-right: 0;
    }
}


/* Consulta de medios para 320px */

@media screen and (max-width: 320px) {
    .footer__logo h1,
    .footer__addr,
    .footer__title,
    .button-link,
    .footer__social a {
        font-size: 14px;
        text-align: center;
        margin-top: 5px;
    }
    .footer__social a {
        background-color: #333;
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
    }
}